.loading-cow{
  width: 120px;
  margin-left: 16px;
}

#loadingProgressG{
	width:120px;
	height:7px;
	overflow:hidden;
	background-color:rgb(255,40,2);
	border-radius:10px;
  margin-top: 10px;
}

.loadingProgressG{
	background-color:rgb(255,255,255);
	margin-top:0;
	margin-left:-250px;
	animation-name:bounce_loadingProgressG;
	animation-duration:1.5s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
	width:120px;
	height:7px;
}

@keyframes bounce_loadingProgressG{
	0%{
		margin-left:-200px;
	}

	100%{
		margin-left:200px;
	}
}
