@font-face {
  font-family: 'Roboto Mono';
  src: url('../fonts/RobotoMono-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Mono Light';
  src: url('../fonts/RobotoMono-Light.ttf');
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-BlackItalic.ttf');
}

html, body {
  height: 100%;
  background-color: #0000CD;
  user-select: none;
  cursor: default;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.no-cursor {
  cursor: none;
}

.container {
  height: inherit;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.primary {
  display: flex;
  align-items: center;
  justify-content: center;

  /*margin-bottom: 50px;*/
}

.text{
  color: #DCDCEA;
  font-size: 60pt;
  font-family: 'Rubik', monospace;
  text-align: center;

  border-bottom: 4pt solid #FF441D;
  padding-bottom: 8px;
}

.task {
  font-family: 'Roboto Mono Light', monospace;
  border: solid 3px #FF441D;
  padding: 13px 16px;
  min-height: 165px;
  width: 700px;
  overflow: hidden;
  /*position: absolute;
  bottom: 10%;*/
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.task > .message {
  /*line-height: 30pt;*/
  line-height: normal;
  font-size: 13pt;
  color: #DCDCEA;
  text-align: center;
  display: inline-block;
}

.task > .message.printing {
  animation: blink ease-in infinite;
  animation-duration: 1s;
}

.task > .title {
  width: 100%;
  height: 50%;
  color: #DCDCEA;
  position: absolute;
  top: 10%;
}

.task .title span {
  font-size: 13pt;
  font-family: 'Roboto Mono Light', monospace;
}

.task > .body {
  /*width: 35%;*/
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20%;
}

.secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 12%;
}

.secondary span {
  color: rgb(255,40,2);
  font-family: 'Roboto Mono', monospace;
  font-size: 10pt;
  transition: opacity 0.5s;
  opacity:0;
}

.secondary > span.show {
  opacity: 1;
  transition: opacity 0.5s;
}

.secondary > span.initial {
  opacity: 1;
}

.hide{
  opacity: 0!important;
}
