.task.file{
  height: 200px;
}

.task.file > .title {
  top: 23%;
}

.task.file > .body{
  width: 80%;
  height: 50%;
  opacity: 1;
  transition: opacity 1s;
}


#folder{
  height: 45px;
  position: absolute;
  top: 55%;
}

#page {
  height: 40px;
  position: absolute;
  right: 18%;
  top: 37%;
  opacity: 1;
  transition: opacity 1s;
  visibility: visible;
}

#page.hidden{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
